.imgWidget .thumb {
    float: left;
    margin-right: 1em;
}

.imgWidget .context {
    display: inline-block;
    line-height: 1.5;
}

.imgWidget .context > span {
    display: block;
    margin: 0.5em 0;
}